{% extends 'main/base.html' %}

{% block title %}
    User Profile
{% endblock %}

{% block content %}
    {% if user.is_customer %}
        <div style="display: ruby;">
            <h1>{{ user.username }} ({{user_age}} years old) </h1>
            <p style="float: right;">Customer</p>
            <p>date of birth : {{ birth }}</p>
            <p>email : {{ user.email }}</p>
        </div>
        {% else %}
        <div style="display: ruby;">
            <h1>{{ user.username }}</h1>
            <p>rating : {{ user.company.rating }}</p>
            <p style="float: right;">{{user.company.field}} Company</p>
            <p>email : {{ user.email }}</p>
        </div>
    {% endif %}

    {% if 'customer' in request.path %}
        <p class="title">Previous Requested Services</p>
    {% else %}
        <p class="title">Available Services</p>
    {% endif %}

    {% if user.is_customer %}
        {% for service in services_requested %}
            <div>
                <a href="/services/{{service.service.id}}">{{service.service.name}}</a> ({{service.service.field}})
                <p style="margin: 0; display: inline-block;"> ❱❱ {{service.total_price}} €</p>
                <p style="margin: 0; display: inline-block;"> ❱❱ {{ service.request_date }}</p>
                <p style="float: right; margin: 0;">
                    by <a href="/company/{{service.service.company.user}}">{{service.service.company.user}}</a>
                </p> 
            </div>
            <div class="line"></div>
        {% endfor %}

    {% else %}
        {% for service in services %}
        <div class="list_services_profile">
            <a href="/services/{{service.id}}">{{service.name}}</a>-- {{service.price_hour}}€/hour
            <div class="line"></div>
        </div>
        {% endfor %}

        {% if request.user != company.user and request.user.is_customer %}
            <h3>Ajouter une évaluation</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <!-- {{ form.as_p }} -->
                <div class="star-rating">
                    <input type="radio" id="id_rating_5" name="{{ form.rating.name }}" value="5">
                    <label for="id_rating_5"></label>
                    <input type="radio" id="id_rating_4" name="{{ form.rating.name }}" value="4">
                    <label for="id_rating_4"></label>
                    <input type="radio" id="id_rating_3" name="{{ form.rating.name }}" value="3">
                    <label for="id_rating_3"></label>
                    <input type="radio" id="id_rating_2" name="{{ form.rating.name }}" value="2">
                    <label for="id_rating_2"></label>
                    <input type="radio" id="id_rating_1" name="{{ form.rating.name }}" value="1">
                    <label for="id_rating_1"></label>
                </div>
                Commentaire:
                {{ form.comment }}
                <button type="submit">Ok</button>
            </form>
        {% endif %}

    {% endif %}
{% endblock %}