{% extends 'main/base.html' %} 
    {% block title %}
        NetFix
    {% endblock %}

{% block content %}
    <div style="margin-top: 50px;">
        <p class="site_title">NetFix</p>
        <img class="home_logo" src="static/Images/logo.png" alt="logo">
    </div>


    <!-- {% for service in services %}
        <div class="list_services_profile">
            <a href="/services/{{service.id}}">{{service.name}}</a>-- {{service.price_hour}}€/hour
            <div class="line"></div>
        </div>
    {% endfor %} -->
{% endblock %}
